.contactHeader {
    background-image: url("../assets/contact-1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60vh;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactForm {
    width: 60%;
    margin-left: 15%;
    padding-bottom: 50px;
}

.contactForm p {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    letter-spacing: 1.1px;
    padding: 50px 0px;
}

.contactName, .contactEmail {
    background-color: #F6F6F6;
    border: none;
    width: calc(49% - 10px);
    padding: 10px;
    margin-right: 10px;
}

.contactSubject {
    background-color: #F6F6F6;
    border: none;
    width: 97%;
    padding: 10px;
    margin-right: 10px;
    margin-top: 25px;
}

.contactTextArea {
    background-color: #F6F6F6;
    border: none;
    width: 97%;
    height: 250px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 25px;
}

.contactButton {
    color: #64A404;
    background-color: white;
    border: none;
    font-family: 'Raleway', sans-serif;
    padding: 15px 0px;
    text-align: left;
    margin-top: 10px;
}

.fa-arrow-right {
    color: #64A404;
    padding-left: 5px;
}

.contactDetails {
    background: #F6F6F6;
    width: 40%;
}

.contactBox1 {
    width: 55%;
    margin-left: 25px;
    padding: 50px 0px;
}

.contactBox1 p:nth-of-type(1) {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    letter-spacing: 1.1px;
}

.contactBox1 p:nth-of-type(2) {
    padding-top: 25px;
}

.contactBox2 {
    width: 55%;
    margin-left: 25px; 
}

.contactBox2 p:nth-of-type(1) {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    letter-spacing: 1.1px;
}

.contactBox2 p:nth-of-type(2) {
    padding-top: 10px;
}

.contactBox2 p:nth-of-type(3) {
    font-style: italic;
}

.contactBox3 {
    width: 55%;
    margin-left: 25px;
    padding: 50px 0px;
}

.contactBox3 p:nth-of-type(1) {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    letter-spacing: 1.1px;
}

.contactBox3 p:nth-of-type(2) {
    padding-top: 10px;
}

.contactBox3 p:nth-of-type(4) {
    padding: 20px 0px;
}
    

.dragonfruit {
    background-image: url("../assets/contact-2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65vh;
}